<div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Этот текст обо мне! Меня зовут Lux</p>
    </div>
        <div class="card">
      <h3>Популярные публикации</h3>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <h3>Подписку на меня клик!</h3>
      <p>Какой-то текст тут должен быть...</p>
    </div>
  </div>